.header {
	background-color: var(--gray-700);

	display: flex;
	justify-content: center;

	padding: 4.5rem 0 5rem 0;
}

.logo {
	display: flex;
}

.logo img {
	height: 3rem;

    margin-right: 0.75rem;
}

.logo h1 {
    font-weight: 900;
    color: var(--blue);
}

.logo span {
    color: var(--purple-dark);
}
