.newTask {
    background: transparent;     
    display: flex;
    justify-content: center;       
    gap: 0.5rem;  
}

.newTask input {
    background-color: var(--gray-500);  
    color: var(--gray-100);
    padding: 1rem;
    border: 0;
	resize: none;
    border-radius: 8px;
    width: 100%;
}

.newTask input:focus {
    outline: transparent;
    box-shadow: 0 0 0 1.5px var(--purple-dark);
}

.newTask button[type='submit'] {
    display: flex;
    gap: 0.5rem;

    padding: 1rem;
    border: 0;
    border-radius: 8px;
    color: var(--gray-100);          
    background-color: var(--blue-dark);
    font-weight: 700;
    cursor: pointer;

    transition: background-color 0.1s;
}

.newTask button[type='submit']:hover {
    background-color: var(--blue);
}

.newTask button[type='submit']:disabled {
    opacity: 0.7;
	cursor: not-allowed;
}

.taskCounter {
    margin: 4rem 0 1.5rem;
}

.taskCounter, 
.counterInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counterInfo {
    gap: 0.5rem;
    font-weight: bold;
}

.counterInfo > p {
    color: var(--blue);
}

.counterInfo > span {
    font-size: 0.75rem;
    color: var(--gray-200);
    background-color: var(--gray-400);
    /* padding: 0.125rem 0.5rem; */
    padding: 2px 8px;
    border-radius: 999px;
}

